<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://github.com/buhlaree/cash_dispenser_ror"><em>CashDispenser Project</em></a> is a
  <a href="http://rubyonrails.org/">Ruby on Rails</a> sample project.
</p>
