<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class = "center jumbotron">
    <h1>Please make a selection</h1>
    <%= link_to "Fund a New Account", new_account_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Make a Transaction", new_transaction_path, class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
  <div class = "center jumbotron">
    <h1>Welcome to the CashDispenser</h1>
    <h2>
      This is the home page for the
      <a href="https://github.com/buhlaree/cash_dispenser_ror">CashDispenser</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
